//Settings.js is not part of the repository.  However, it should be deployed with the application and contain deployment-specific settings.
//there is a settings.js.example file that should match the structure and properties of this file that IS checked in to the repo

var settings = {}

settings.page = {
	siteName: "Site name",
	description: "Use this site to do things.",
}

settings.application = {
	db: "users",
	port: 8000
}

settings.submissions = {
	locationsField: "",
	locations: [ ],
	subLocationField: ""
}

settings.formhub = {
	user: "",
	host: "http://formhub.redcross.org",
	token: "",
	formid: "",

}

module.exports = settings;
