<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js"></script>
<!-- <script src="/js/users.js"></script> -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>


<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center;">
        <h4 class="modal-title">Please wait...</h4>
      </div>
      <div class="modal-body" style="text-align:center;">
        <img src="media/ajax_loader_gray_512.gif" style="height:200px; width:200px;">
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<header class="row header">
	<div class="col-md-12">
		<h1><span id="show-location">Submissions</span> <small><span id="show-count"></span></small></h1>
	</div>
</header>
<nav class="navbar row">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><b class="glyphicon glyphicon-chevron-down"></b> Choose location</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

				{{#each submissions.locations}}
				    <li><a onClick="getData('{{this}}');">{{this}}</a></li>
				{{/each}}

			</ul>
		</li>
	</ul>
</nav>

<div id="no-data-alert"></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<!--
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-A">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-B" aria-expanded="true" aria-controls="collapse-B">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapse-B" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-A">
      <div class="panel-body">
        text
      </div>
    </div>
  </div>
-->
</div>

<div id="myMap" style="height:450px; width:90%; z-index:1; margin-left:auto; margin-right: auto;"></div>


<script>

var mapUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var mapAttribution = 'Map data &copy; <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a> | CC-BY <a href="http://redcross.org" title="Red Cross" target="_blank">Red Cross</a> 2015 | <a title="Disclaimer" onClick="showDisclaimer();">Disclaimer</a>';
var mapTiles = L.tileLayer(mapUrl, {attribution: mapAttribution});
var map = L.map('myMap', {
    zoom: 3,
    center: [0,0],
    // scrollWheelZoom: false,
    layers: [mapTiles]
});
var locationsLayer = L.geoJson().addTo(map);

var subLocationField = '{{submissions.subLocationField}}';
var enumeratorField = '{{submissions.enumeratorField}}';
var thisData, selectedLocation;

function getData(value){
	$("#loading-modal").modal({backdrop:'static'});

	selectedLocation = value;
	var url = window.location.href;
	$.post(url, {location:value}, function(data){
		thisData = JSON.parse(data);
    if(thisData.length === 0) {
      $('#no-data-alert').html("<h4><i>No data retrieved for " + selectedLocation + "</i></h4>");
      $("#loading-modal").modal('hide');
    } else {
      $('#no-data-alert').empty();
      mapData();
    }

	});

}

function mapData(){

  map.removeLayer(locationsLayer);
	var featureCollection= { "type": "featureCollection", "features": [] };
	$.each(thisData, function(index, item) {
		if(isNaN(parseFloat(item['_geolocation'][1])) === false && isNaN(parseFloat(item['_geolocation'][0])) === false){
			var latlng = [parseFloat(item['_geolocation'][1]), parseFloat(item['_geolocation'][0])];
			var thisGeoJsonObject = {
				"type": "Feature",
				"properties": {
				},
				"geometry": {
					"type": "Point",
					"coordinates": latlng
				}
			};
			featureCollection.features.push(thisGeoJsonObject);
		}
	});

	var centroidOptions = {
		radius: 3,
		fillColor: "#ED1B2E",
		fillOpacity: 1,
		weight: 0.5,
    color: "#000000"
	};

	locationsLayer = L.geoJson(featureCollection.features, {
		pointToLayer: function (feature, latlng) {
			return L.circleMarker(latlng, centroidOptions);
		}
		// },
		// onEachFeature: onEachFeature
	}).addTo(map);
	mapBounds = locationsLayer.getBounds();
	map.fitBounds(mapBounds);

	map.addLayer(locationsLayer);

	updatePage();
}


function updatePage(){

  var locationNest = d3.nest()
    .key(function(d){ return d[subLocationField]; })
    .sortKeys(d3.ascending)
    .rollup(function(d) { return d.length; })
    .entries(thisData)

  d3.select('#accordion').html('').selectAll('div')
    .data(locationNest).enter().append('div')
    .classed({'panel':true,'panel-default':true})
    .html(function(d){
      return '<div class="panel-heading" role="tab" id="heading-' + d.key + '">' +
        '<h4 class="panel-title">' +
        '<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-'+ d.key + '" aria-expanded="false"  aria-controls="collapse-' + d.key + '">' +
        d.key + " &nbsp; (" + d.values + ")" +
        '</a>' +
        '</h4>' +
        '</div>' +
        '<div id="collapse-' + d.key +'" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading' + d.key + '">' +
        '<div class="panel-body"></div>' +
        '</div>';
    })

  var enumeratorNest = d3.nest()
    .key(function(d){ return d[subLocationField]; })
    .key(function(d){ return d[enumeratorField]; })
    .sortKeys(d3.ascending)
    .rollup(function(d){ return d.length; })
    .entries(thisData)
  $.each(enumeratorNest, function(index, item){
    d3.select("#collapse-" + item.key + " .panel-body").selectAll('div')
    .data(item.values).enter().append('div')
    .classed('enumerator', true)
    .attr('data-name', function(d){ return d.key; })
    .html(function(d){ return d.key + " &nbsp; (" + d.values + ")<br>"; })
  })

	$('#show-location').html(selectedLocation);
  $('#show-count').html(" - " + thisData.length + " total submissions");

	$("#loading-modal").modal('hide');

}

</script>
